---

import React from "react";
import { useStore } from "@nanostores/react";
import  {showPopupStore}  from "../../stores/contactFormStore";
import ContactForm from "./ContactForm.astro";

const togglePopup = () => {
   
    if (showPopupStore) {
    showPopupStore.set(!showPopupStore.get());
  }
};

//  const handlePopupClick = (e: { stopPropagation: () => void; }) => {
//   e.stopPropagation(); // Stop the event from bubbling up
// }; 

const showPopup = useStore(showPopupStore);
---

return(

<div>
    {showPopup && (
      <div
        class="fixed z-10 inset-0 overflow-y-auto"
        onclick=(togglePopup);
        data-testid="background-overlay"
      >
        <div class="flex items-center justify-center min-h-screen">
          <div
            class="bg-white rounded-lg shadow-lg p-8"
            role="dialog"
            aria-modal="true"
            aria-labelledby="modal-headline"
            data-testid="popup"
          >
            <div class="flex justify-end">
              <button
                type="button"
                class="text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 rounded-md"
                aria-label="Close"
                onclick=(togglePopup);
                data-testid="close-button"
              >
                <span class="sr-only">Close</span>
                <svg
                  class="h-6 w-6"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M6 18L18 6M6 6l12 12"
                  />
                </svg>
              </button>
            </div>
            <div class="mt-4" data-testid="contact-form">
            <ContactForm client:load />
          </div>
        </div>
      </div>
      </div>
    )}
    <div class="flex justify-center bg-gray-100 shadow-lg shadow-black-500/50">
      <div class="flex justify-center text-center space-x-2">
        <h1 class="text-xl font-semibold mb-4 mt-5">
          To get in touch with us, simply click on the "Contact Us" button and fill out the form
        </h1>
      </div>
      <div class="flex justify-center space-x-4">
        <button
          type="button"
          class="bg-cyan-600 hover:bg-cyan-700 text-white font-semibold py-3 px-6 rounded-lg transition duration-300"
          onclick=togglePopup();
          data-testid="popup-button"
        >
          Contact Us
        </button>
      </div>
    </div>
  </div> 
  ) 

