---
//import ContactForm from '../component/ContactForm.astro';

// import PopupButton from '../component/PopupButton.astro';
import TestPopup from '../component/testPopup.astro';
---

<div>
  <!-- <PopupButton /> -->
  <TestPopup client:load/>
  <!-- <h1>Contact page</h1> -->
</div>
