---
import React from "react";
import TestPopup from "../common/TestPopup.astro";
import ContactForm from "../common/ContactForm.astro";

---

<>
  <!-- <ContactForm /> -->
  <h1>Contact page</h1>
  <TestPopup />>
</div>
